# dependencies
node_modules/

# production
build/
dist/

# environment variables
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor folders
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db